node_modules

# ======================
# Node / React
# ======================
node_modules/
frontend/node_modules/
dist/
build/
.vite/

# Package lock metadata cache
*.log

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
myenv/
venv/
.env

# ======================
# Java / Spring Boot
# ======================
target/
*.class

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

__pycache__/
*.pyc